<div id="<%= dom_id post %>">
  <% post.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>

  <p class="post_title"><%= link_to post.title, post %></p>
  <p class="post_desc"><%= post.description %></p>
  <p class="date"><%= post.created_at.strftime("%A, %B %d") %></p>
</div>
