<div id="<%= dom_id @post %>" class="show_post">
  <h1 class="post_title"><%= @post.title %></h1>
  <p class="post_desc"><%= @post.description %></p>
  <p class="post_date"><%= @post.created_at.strftime("%A, %B %d") %></p>

  <% if user_signed_in? %>
    <div class="admin_control">
      <%= link_to "Edit", edit_post_path(@post) %>
      <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Delete this fr fr?" } %>
    </div>
  <% end %>

  <div class="post_gallery">
    <% @post.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </div>
</div>


